.menu-menu-item {
  // look
  font-family: "Arial";
  font-size: 13px;
  color: #78829d;
  line-height: 26px;

  // pos and size
  display: flex;
  align-items: center;
  width: 180px;
  height: 38px;
  padding-left: 20px;
  &:hover {
    cursor: pointer;
  }
}
.menu-menu-item_active {
  // look
  color: white;
  background-color: #15a4fa;
}

.menu-item__name {
  padding-left: 10px;
}
