.button {
  // look
  font: bold 14px sans-serif;
  color: #f6faf9;
  text-transform: uppercase;
  background-color: #f2795a;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    background-color: #f58a6e;
  }
}
