// looks, pos and size
.app {
  // pos and size
  display: flex;
  flex-direction: row;
  height: 100vh;
  .app-sidebar {
    // look
    background-color: #1f2537;
    // pos and size
    width: 200px;
    .sidebar-wrapper {
      // look
      border-bottom: 1px solid #32394b;
      // pos and size
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 120px;
      .sidebar__button {
        // pos and size
        padding: 14px 24px;
      }
    }
  }
  .app-main {
    width: 100%;
    overflow: auto;
    .main-title {
      // look
      font-size: 22px;
      line-height: 26px;
      color: #444c63;
      font-family: "Arial";
      font-weight: bold;
      background-color: #eef1f7;
      border-bottom: 1px solid #dadfea;
      // pos and size
      padding-left: 20px;
      line-height: 70px;
    }
  }
}
