.popup-footer {
  // look
  border-top: 1px solid #dadfea;
  border-radius: 0px 0px 4px 4px;
  background-color: #eef1f7;
  // pos and size
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 720px;
  height: 60px;
  padding-left: 20px;
  .footer__button {
    // pos and size
    padding: 0 10px;
    line-height: 34px;
    margin-right: 20px;
  }
  .footer__button_secondary {
    // look
    background-color: #97b3ce;
    &:hover {
      background-color: #acc5dd;
    }
  }
  .footer__button_hidden {
    display: none;
  }
}
