.book-creator-header {
  // look
  border-bottom: 1px solid #dadfea;
  border-radius: 4px 4px 0px 0px;
  background-color: #eef1f7;
  // pos and size
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  .header__text {
    // look
    font-size: 20px;
    line-height: 26px;
    color: #444c63;
    font-family: "Arial";
    font-weight: bold;
  }
  .header__close-button {
    &:hover {
      cursor: pointer;
    }
  }
}
