.filters-search-line {
  // pos and size
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  .search-line__input {
    // look
    font-size: 13px;
    line-height: 26px;
    color: #8c97b2;
    font-family: "Arial";
    // pos and size
    width: 154px;
    height: 32px;
    border-radius: 16px;
    background-color: #ffffff;
    border: 1px solid rgba(140,151,178,0.4);
    padding-left: 16px;
    padding-right: 30px;
  }
  .search-line__icon {
    // look
    color: #8c97b2;
    // pos and size
    margin-left: -25px;
  }
}

@media(max-width: 760px) {
  .filters-search-line {
    .search-line__input {
      width: 144px;
    }
  }
}
