.message-modal {
  // look
  background-color: rgba(0, 0, 0, 0.6);
  // pos and size
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  .message-modal-main {
    // look
    border-radius: 4px 4px 0px 0px;
    background-color: white;
    // pos and size
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 132px;
    .main__text {
      // look
      font-family: "Arial";
      font-size: 22px;
      font-weight: bold;
      line-height: 26px;
      color: #444c63;
      // pos and size
      text-align: center;
    }
  }
  .message-modal-footer {
    // look
    border-top: 1px solid #dadfea;
    border-radius: 0px 0px 4px 4px;
    background-color: #eef1f7;
    // pos and size
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    height: 60px;
    .footer__button {
      // pos and size
      padding: 0 10px;
      line-height: 34px;
      margin-right: 20px;
    }
  }
}
