.book-creator {
  // look
  background-color: rgba(0, 0, 0, 0.7);
  // pos and size
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  .book-creator-popup {
    .popup-wrapper {
      // pos and size
      display: flex;
      flex-direction: row;
    }
  }
}
