.filter-by-group {
  // look
  font-size: 12px;
  line-height: 26px;
  color: #8c97b2;
  font-family: "Myriad Pro", sans-serif;
  text-align: center;
  text-transform: capitalize;
  border-radius: 13px;
  // pos and size
  min-width: 60px;
  height: 26px;
  padding: 0 10px;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
  &:first-child {
    margin-left: 20px;
  }
}
.filter-by-group_active {
  // look
  color: #ffffff;
  background-color: #97b3ce;
}

@media(max-width: 830px) {
  .filter-by-group {
    min-width: inherit;
    padding: 0 5px;
    margin-left: 5px;
  }
}
