.books-book {
  // look
  // pos and size
  padding-top: 30px;
  padding-left: 20px;
  .book__img {
    // look
    border-radius: 4px;
    background-color: #97b3ce;
    // pos and size
    width: 200px;
    height: 275px;
    &::after {
      content: '';
      border-radius: 4px;
      background-color: #97b3ce;
      // pos and size
      display: block;
      width: 200px;
      height: 275px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .book__name {
    // look
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
    color: #444c63;
    line-height: 26px;
    // pos and size
    width: 200px;
  }
  .book__author {
    // look
    font-family: "Arial";
    font-size: 12px;
    line-height: 26px;
    color: #6f7d95;
  }
  .book-stars {
    // look
    font-family: "Font Awesome";
    font-size: 14px;
    color: #ffab00;
    letter-spacing: 1px;
    line-height: 26px;
    // pos and size
    width: 190px;
    height: 35px;
  }
}

@media (max-width: 760px) {
  .books-book {
    .book__img {
      // pos and size
      width: 250px;
      height: 343px;
    }
  }
}
