.main-field {
  // pos and size
  position: relative;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  &:last-child {
    padding-bottom: 20px;
  }
  // common
  .field__name {
    // look
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
    line-height: 26px;
    color: #444c63;
  }
  // reader
  .field__text {
    font-family: "Arial";
    font-size: 13px;
    line-height: 26px;
    color: #8c97b2;
    height: 30px;
  }
  // creator
  .field__name_required {
    &::after {
      content: '*';
      color: red;
    }
  }
  .field__input {
    // look
    font-family: "Arial";
    font-size: 13px;
    line-height: 26px;
    color: #8c97b2;
    background-color: white;
    border: 1px solid rgba(140,151,178,0.4);
    border-radius: 2px;
    // pos and size
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 30px;
  }
  .field__input_invalid {
    border-color: red;
  }
  .field__errors {
    height: 12px;
    font-family: "Arial";
    font-size: 10px;
    color: red;
    position: absolute;
    top: 75px;
  }
}
.main-field_size_1 {
  width: 50%;
  display: inline-block;
}
.main-field_size_2 {
  width: 100%;
}
