.main-filters {
  // look
  background-color: #eef1f7;
  border-bottom: 1px solid #dadfea;
  // pos and size
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .filters-by-group {
    // pos and size
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
  }
}
