.tabs-tab {
  // look
  color: #78829d;
  // pos and size
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 37px;
  padding-left: 20px;
  &:hover {
    cursor: pointer;
  }
  .tab__name {
    // look
    font-family: "Arial";
    font-size: 13px;
    line-height: 22px;
    // pos and size
    width: 110px;
    height: 22px;
  }
  .tab__icon {
    // look
    font-size: 14px;
    // pos and size
    width: 20px;
    margin-right: 10px;
  }
}
.tabs-tab_active {
  // look
  color: white;
  background-color: #97b3ce;
}
