.recent-actions-action {
  // pos and size
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-left: 20px;
  &:last-child {
    padding-bottom: 20px;
  }
  .action__icon {
    // look
    color: #78829d;
  }
  .action-content {
    // pos and size
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    .content__text {
      // look
      font-size: 12px;
      line-height: 18px;
      color: #6f7d95;
      font-family: "Arial";
    }
    .content__date {
      // look
      font-size: 12px;
      line-height: 20px;
      color: #78829d;
      font-family: "Arial";
    }
  }
}
